@page "/notes"
@inject ApiReviewNoteService NoteService
@using ApiReview.Data;

@if (_summary == null)
{
    <p>Loading...</p>
}
else
{
    if (_summary.Video != null)
    {
        <p><img src="@_summary.Video.ThumbnailUrl" /></p>
        <p><a href="@_summary.Video.Url">@_summary.Video.Title</a></p>
    }

    <div class="gh-issue-list">
        @foreach (var item in _summary.Items)
        {
            <div class="gh-issue-cell">
                <input type="checkbox" checked />
                <a class="gh-issue-title" href="@item.Feedback.Issue.Url">@item.Feedback.Issue.Title</a>
                <span>
                    @foreach (var label in item.Feedback.Issue.Labels)
                    {
                        <span class="gh-label"
                              style="background: @("#" + label.BackgroundColor); color: @label.ForegroundColor">@label.Name</span>
                        }
                </span>
                <div class="gh-details-cell">
                    <strong><a href="@item.Feedback.FeedbackUrl">@item.Feedback.FeedbackStatus</a></strong>
                    @item.Feedback.Issue.DetailText
                </div>
            </div>
        }
    </div>
}

<button class="btn btn-primary">Send Notes</button>

@code
{
    private ApiReviewSummary _summary;

    protected override async Task OnInitializedAsync()
    {
        _summary = await NoteService.GetSummaryAsync(DateTimeOffset.Parse("6/18/2020"));
    }
}