@inherits LayoutComponentBase

<nav class="navbar navbar-expand-md navbar-dark bg-dotnet">
    <a class="navbar-brand" href="/">.NET API Review</a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse @NavMenuCssClass" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="about">
                    <span class="oi oi-info" aria-hidden="true"></span> About
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Backlog
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="schedule">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Schedule
                </NavLink>
            </li>

            <AuthorizeView Roles="@ApiReviewConstants.ApiApproverRole">
                <li class="nav-item">
                    <NavLink class="nav-link" href="publish">
                        <span class="oi oi-envelope-open" aria-hidden="true"></span> Publish
                    </NavLink>
                </li>
            </AuthorizeView>
            <li class="nav-item">
                <NavLink class="nav-link" href="/request">
                    <span class="oi oi-question-mark" aria-hidden="true"></span> Request
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="https://github.com/terrajobst/apireview.net">
                    <span class="oi oi-code" aria-hidden="true"></span> Source
                </NavLink>
            </li>
        </ul>
        <AuthorizeView>
            <Authorized>
                <div class="dropdown">
                    <button class="btn btn-dotnet dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @{
                            var avatarUrl = context.User.FindFirst("avatar_url");
                            if (avatarUrl is not null)
                            {
                                <img src="@avatarUrl.Value"
                                     class="mr-1"
                                     alt="@context.User.Identity?.Name"
                                     style="border-radius: 50%"
                                     width="20"
                                     height="20" />
                            }
                        }
                        @context.User.Identity?.Name
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="signout">Sign out</a>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                @{
                    var returnUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
                }
                <a class="btn btn-dotnet" href="signin?returnUrl=@returnUrl">Sign in</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

<main class="container-fluid mt-3">
    @Body
</main>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;

    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}