@page "/notes"
@inject ApiReviewNoteService NoteService

<div class="form-group row">
    <div class="col-sm-2">
        <label for="inputStartDate">Date</label>
        <input type="date" class="form-control @(DateValidationMessage == null ? "" : "is-invalid")" id="inputStartDate" @bind="Start">
        @if (DateValidationMessage != null)
        {
            <div class="invalid-feedback">
                @DateValidationMessage
            </div>
        }
    </div>
    <div class="col-sm-2">
        <label for="inputStartDateTime">Start Time</label>
        <input type="time" placeholder="Start" class="form-control @(StartValidationMessage == null ? "" : "is-invalid")" id="inputStartTime" @bind="Start">
        @if (StartValidationMessage != null)
        {
            <div class="invalid-feedback">
                @StartValidationMessage
            </div>
        }
    </div>
    <div class="col-sm-2">
        <label for="inputEndTime">End Time</label>
        <input type="time" placeholder="End" class="form-control @(EndValidationMessage == null ? "" : "is-invalid")" id="inputEndTime" @bind="End">
        @if (EndValidationMessage != null)
        {
            <div class="invalid-feedback">
                @EndValidationMessage
            </div>
        }
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="includeVideo" @bind="IncludeVideo">
            <label class="form-check-label" for="includeVideo">
                Include video
            </label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
        <button class="btn btn-secondary" disabled="@(!CanSearch)" @onclick="FindIssuesAsync">Find Issues</button>
    </div>
</div>

<div class="d-flex flex-row flex-wrap">
    @foreach (var video in Videos)
    {
        <div class="p-2 @(SelectedVideo == video ? "yt-video-selected" : null)" @onclick="@(e => SelectVideoAsync(video))">
            <div class="yt-video">
                <div><img src="@video.ThumbnailUrl" /></div>
                <div class="mt-2 yt-video-title">
                    <a href="@video.Url">@video.Title</a>
                </div>
                <div class="text-muted text-sm-left">
                    @video.StartDateTime.FormatAge() at @video.StartDateTime.ToString("h tt")
                </div>
            </div>
        </div>
    }
</div>

@if (IsLoading)
{
    <div class="ml-1 mt-2 mb-4">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else if (Summary != null && Summary.Items.Count == 0)
{
    <p class="text-muted">No issues found.</p>
}
else if (Summary != null)
{
    <div class="mt-2 gh-issue-list">
        @foreach (var item in Summary.Items)
        {
            <div class="gh-issue-cell">
                <input type="checkbox" checked />
                <a class="gh-issue-title" href="@item.Feedback.Issue.Url">@item.Feedback.Issue.Title</a>
                <span>
                    @foreach (var label in item.Feedback.Issue.Labels)
                    {
                        <span class="gh-label"
                              style="background: @("#" + label.BackgroundColor); color: @label.ForegroundColor">@label.Name</span>
                        }
                </span>
                <div class="gh-details-cell">
                    <strong><a href="@item.Feedback.FeedbackUrl">@item.Feedback.FeedbackStatus</a></strong>
                    @if (item.VideoTimeCodeUrl != null)
                    {
                        <text>|</text>
                        <strong><a href="@item.VideoTimeCodeUrl">Video</a></strong>
                    }
                    @item.Feedback.Issue.DetailText
                </div>
            </div>
        }
    </div>

    <button class="btn btn-primary mb-4">Share Notes</button>
}

@code
{
    private DateTimeOffset _start;
    private DateTimeOffset _end;

    private DateTimeOffset Start
    {
        get => _start;
        set => SetDateTime(ref _start, value);
    }

    private DateTimeOffset End
    {
        get => _end;
        set => SetDateTime(ref _end, value);
    }

    private string DateValidationMessage { get; set; }
    private string StartValidationMessage { get; set; }
    private string EndValidationMessage { get; set; }
    private bool HasValidationErrors => DateValidationMessage != null ||
                                        StartValidationMessage != null ||
                                        EndValidationMessage != null;
    private bool CanSearch => !HasValidationErrors && !IsLoading;

    private bool IncludeVideo { get; set; }

    private IReadOnlyList<ApiReviewVideo> Videos { get; set; } = Array.Empty<ApiReviewVideo>();
    private ApiReviewVideo SelectedVideo { get; set; }

    private bool IsLoading { get; set; }
    private ApiReviewSummary Summary { get; set; }

    protected override void OnInitialized()
    {
        //Start = DateTime.Now.Date.AddHours(9).AddMinutes(30);
        //End = DateTime.Now.Date.AddHours(12).AddMinutes(30);
        Start = DateTime.Now.Date;
        End = DateTime.Now.Date.AddHours(23).AddMinutes(59);
        IncludeVideo = true;
    }

    private void SetDateTime(ref DateTimeOffset field, DateTimeOffset value)
    {
        var preserveTime = value.Date != field.Date &&
                           value.TimeOfDay == TimeSpan.Zero;

        if (preserveTime)
        {
            field = value.Add(field.TimeOfDay);
        }
        else
        {
            field = value;
        }

        _end = _start.Date.Add(_end.TimeOfDay);

        if (Start.Date > DateTimeOffset.Now.Date)
        {
            DateValidationMessage = "Date cannot be in the future";
            StartValidationMessage = null;
        }
        else
        {
            DateValidationMessage = null;

            if (Start > DateTimeOffset.Now)
            {
                StartValidationMessage = "Start cannot be in the future";
            }
            else
            {
                StartValidationMessage = null;
            }
        }

        if (End <= Start)
        {
            EndValidationMessage = "End Time must be after Start Time";
        }
        else
        {
            EndValidationMessage = null;
        }
    }

    private async Task FindIssuesAsync()
    {
        IsLoading = true;
        Videos = Array.Empty<ApiReviewVideo>();
        SelectedVideo = null;
        StateHasChanged();

        if (IncludeVideo)
        {
            Videos = await NoteService.GetVideos(Start, End);
            SelectedVideo = Videos.FirstOrDefault();
            StateHasChanged();
        }

        if (SelectedVideo != null)
            Summary = await NoteService.IssuesForVideo(SelectedVideo.Id);
        else
            Summary = await NoteService.IssuesForRange(Start, End);

        IsLoading = false;
    }

    private async Task SelectVideoAsync(ApiReviewVideo video)
    {
        SelectedVideo = video;
        IsLoading = true;
        if (video != null)
        {
            Summary = await NoteService.IssuesForVideo(video.Id);
            IsLoading = false;
        }
    }
}